@model DownNotifier.Business.UrlDefinition.Dto.UrlDefinitionDto
@{
    Layout = null;
}
<form autocomplete="off" id="UrlDefinitionForm" method="post" data-ajax="true" data-ajax-method="post" data-ajax-url="@Url.Action("SaveUrlDefinition","UrlAction")" data-ajax-complete="OnSuccess">
    @Html.HiddenFor(x=> x.ResourceId)
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    <label class="control-label col-md-12">URL Adı</label>
                    @Html.TextBoxFor(x => x.UrlName, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-12">Link</label>
                    @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-12">Tekrar Süresi</label>
                    @Html.TextBoxFor(x => x.TimeInterval, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if(Model.ResourceId != Guid.Empty)
        { 
            <div class="col-md-12">
                <div class="form-actions">
                    <button type="button" onclick="UrlActionForm();" style="float:right" class="btn green col-sm-2">Yeni Kayıt</button>
                    <button type="submit" style="float:right;margin-right:5px;" class="btn blue col-sm-2">Güncelle</button>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="form-actions">
                    <button type="submit" style="float:right" class="btn blue col-sm-2">Kaydet</button>
                </div>
            </div>
        } 
    </div>
</form>

<script>
    function OnSuccess(data) {
        UrlActionForm();
        UrlListTable();

        Swal.fire(
            'Bilgilendirme!',
            data.responseJSON.message,
            data.responseJSON.status == true ? 'success' : 'error'
        );
    }
</script>